:root{
--icon-sidebar : #fff;
font-family: 'Roboto mono', monospace;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 3fr;
    height: 100vh;
    padding: 5px;
    gap: 5px;
}
.container > *{
    border: 1px solid black;
}
.content > *{
    border: 1px solid black;
}
ul li{
    list-style: none;
}
.sidebar{
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 15px;
    grid-column: 1;
    grid-row: 1/-1;
    background-color: #1992d4;
    color: #fff;
    font-size: 1.2rem;
}
svg{
    fill: white;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: baseline;
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 3px solid white;
    padding-bottom: 10px;
}
.logo svg{
    margin-right: 10px;

}
.menu > ul{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
    
}
.util > ul{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.sidebar ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.menu > ul li, .util > ul li{
    display:flex;
    align-items:center;
}
.menu > ul li svg, .util > ul li svg{
    margin-right: 10px;
}
.header{
    grid-column: 2/-1;
    grid-row: 1;
}
.content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 5px;
    gap: 5px;
}
.content > .article{
    background-color: lightblue;
    grid-column: 1/2;
    grid-row: 1/-1;
}
.content > .trending{
    grid-column: 2;
}
.content > .announcements{
    grid-column: 2;
}
.header{
    background-color: #9d3636;
    color: white;
    padding: 10px;
    text-align: center;
}
.announcements{
    background-color: lightgoldenrodyellow;
    padding: 10px;
    
}
.trending{
    background-color: lightgreen;
    padding: 10px;
}